trunk/sr2/Media/Levels/level.dtd

<!ELEMENT level (levelHeader, tiles, mappableObjects?)>
<!ELEMENT levelHeader (script?)>
<!ELEMENT tiles (tile+)>
<!ELEMENT mappableObjects (mo+)>
<!ELEMENT tile ((tilemap | spriteRef),conditionScript?, onStep?, directionBlock?)>
<!ELEMENT tilemap EMPTY>
<!ELEMENT directionBlock EMPTY>
<!ELEMENT spriteRef (#PCDATA)>
<!ELEMENT script (#PCDATA)>
<!ELEMENT conditionScript (#PCDATA)>
<!ELEMENT onStep (script)>
<!ELEMENT onEquip (script)>
<!ELEMENT onUnequip (script)>
<!ELEMENT itemRef (namedItemRef|weaponRef|armorRef)>
<!ELEMENT namedItemRef (#PCDATA)>
<!ELEMENT mo ((tilemap|spriteRef*)?,conditionScript?, event*, movement?)>
<!ELEMENT event (conditionScript?, script?)>
<!ELEMENT movement (script?)>

<!-- Item DTD -->
<!ELEMENT iconRef (#PCDATA)>
<!ELEMENT weaponClasses (weaponClass+)>
<!ELEMENT weaponTypes   (weaponType+)>
<!ELEMENT armorClasses  (armorClass+)>
<!ELEMENT armorTypes    (armorType+)>
<!ELEMENT items (weaponClasses,weaponTypes, armorClasses, armorTypes,itemList)>
<!ELEMENT itemList (namedItem+)>
<!ELEMENT weaponRef (weaponTypeRef, weaponClassRef, (spellRef|runeType)?)>
<!ELEMENT armorRef (armorTypeRef, armorClassRef, (spellRef|runeType)?)>
<!ELEMENT namedItem (iconRef,(regularItem | uniqueWeapon | uniqueArmor | rune | specialItem | systemItem))>
<!ELEMENT regularItem (script?)>
<!-- The script here is executed when the weapon is used. -->
<!ELEMENT uniqueWeapon (weaponTypeRef, conditionScript?, weaponEnhancer*, statusEffectModifier*,attributeEnhancer*, script?, onEquip?, onUnequip?, (spellRef|runeType)?)>
<!-- The script here is executed when the armor is used. -->
<!ELEMENT uniqueArmor   (armorTypeRef, conditionScript?, armorEnhancer*, statusEffectModifier*, attributeEnhancer*, script?, onEquip?, onUnequip?, (spellRef|runeType)?)>
<!ELEMENT rune (spellRef)>
<!ELEMENT specialItem EMPTY>
<!ELEMENT systemItem EMPTY>
<!ELEMENT runeType EMPTY>
<!ELEMENT weaponTypeRef (#PCDATA)>
<!ELEMENT armorTypeRef (#PCDATA)>
<!ELEMENT weaponClassRef (#PCDATA)>
<!ELEMENT armorClassRef (#PCDATA)>
<!-- The script  here is executed when the weapon is used. -->
<!ELEMENT weaponClass (conditionScript?,attributeEnhancer*, weaponEnhancer*,statusEffectModifier*, script?, onEquip?, onUnequip?, weaponTypeExclusionList?)>
<!-- The script here is executed when the armor is used (wearer is attacked) --> 
<!ELEMENT armorClass  (conditionScript?,attributeEnhancer*, armorEnhancer*, statusEffectModifier*, script?, onEquip?, onUnequip?, armorTypeExclusionList?)>
<!ELEMENT armorType (iconRef)>
<!ELEMENT weaponType ((weaponDamageCategory|magicDamageCategory),iconRef)>
<!ELEMENT weaponEnhancer EMPTY>
<!ELEMENT armorEnhancer EMPTY>
<!ELEMENT statusEffectModifier EMPTY>
<!ELEMENT attributeEnhancer EMPTY> <!-- Similar to attributeModifier, but a temporary bonus when item is equipped. -->
<!ELEMENT weaponTypeExclusionList (weaponTypeRef*)>
<!ELEMENT armorTypeExclusionList (armorTypeRef*)>

<!-- Spell DTD -->
<!ELEMENT spellRef (#PCDATA)>
<!ELEMENT spellList (spell+)>
<!ELEMENT spell (magicResistance?,script?> 
<!ELEMENT weaponDamageCategory EMPTY>
<!ELEMENT magicDamageCategory EMPTY>
<!ELEMENT magicResistance EMPTY>

<!-- Animation DTD -->
<!ELEMENT animation (par+)>
<!ELEMENT par (script?,animationSpriteRef*)> <!-- If there are no animationSprites then its treated like a pause -->
<!ELEMENT animationSpriteRef (#PCDATA)>

<!-- Status Effect DTD -->
<!ELEMENT statusEffectList (statusEffect*)>
<!ELEMENT statusEffect (onInvoke?,onRound?,onCountdown?,onRemove?)>
<!-- These guys are all Effect type. -->
<!-- Notice that you can have a status effect that causes other status effects! -->
<!ELEMENT onInvoke (script)> 
<!ELEMENT onRound (script)>
<!ELEMENT onCountdown (script)>
<!ELEMENT onRemove (script)>

<!-- Character Class DTD -->
<!ELEMENT characterClass (battleMenu,weaponTypeRef*, armorTypeRef*,statScript*,skillRef*)>
<!ELEMENT characterClasses (characterClass+)>
<!ELEMENT statScript (script)>
<!ELEMENT skill (conditionScript?, prereqSkillRef*,spellRef?, onInvoke?, onRemove?)>
<!ELEMENT skillList (skill)+>
<!ELEMENT prereqSkillRef EMPTY>
<!ELEMENT skillRef EMPTY>
<!ELEMENT battleMenu (battleMenuOption*)>
<!ELEMENT battleMenuOption (conditionScript?,script)>

<!-- Characters -->
<!ELEMENT character (animationDefinition*, weaponTypeSprite+)>

<!-- these next two need to be added as Actions ... and should be under the LevelFactory, in LevelElements, etc-->
<!ELEMENT startingEquipmentRef (itemRef)>

<!-- These define what the character should look like in battle with this weapon type equipped  --> 
<!-- There has to be one for each weapon type, but its okay if they all refer to the same sprite -->
<!-- These sprites define also what the character looks like when using the weapon, etc -->
<!ELEMENT weaponTypeSprite (weaponTypeRef)>
<!-- The skill, weapontype, weapon, armortype, and armor refs define when the animation should happen -->
<!-- so, you can define an animation for a particular skill, or usage of a weapon type, or for a specific weapon -->
<!ELEMENT animationDefinition (skillRef,animation)>

<!-- Attributes -->

<!ATTLIST level name CDATA #REQUIRED>
<!ATTLIST levelHeader music CDATA #REQUIRED>
<!ATTLIST levelHeader width CDATA #REQUIRED>
<!ATTLIST levelHeader height CDATA #REQUIRED>
<!ATTLIST levelHeader allowsRunning (true|false) #IMPLIED>
<!ATTLIST script id CDATA #REQUIRED>
<!ATTLIST conditionScript CDATA #REQUIRED>
<!ATTLIST tile name CDATA #REQUIRED>
<!ATTLIST tile xpos CDATA #REQUIRED>
<!ATTLIST tile ypos CDATA #REQUIRED>
<!ATTLIST tile zorder CDATA #IMPLIED>
<!ATTLIST tile hot (true|false) #IMPLIED>
<!ATTLIST tile floater (true|false) #IMPLIED>
<!ATTLIST tile pops (true|false) #IMPLIED> <!-- Default is false, does not pop the level stack -->
<!ATTLIST tilemap mapname CDATA #REQUIRED>
<!ATTLIST tilemap mapx CDATA #REQUIRED>
<!ATTLIST tilemap mapy CDATA #REQUIRED>
<!ATTLIST mo name CDATA #REQUIRED>
<!ATTLIST mo type (npc|square|container|warp|door) #REQUIRED>
<!ATTLIST mo xpos CDATA #REQUIRED>
<!ATTLIST mo ypos CDATA #REQUIRED>
<!ATTLIST mo size (small|medium|large|tall|wide) #REQUIRED>
<!ATTLIST mo solid (true|false) #IMPLIED>
<!ATTLIST movement movementType (none|wander|paceNS|paceEW|script) #REQUIRED>
<!ATTLIST movement speed (slow|medium|fast) #IMPLIED>
<!ATTLIST event name CDATA #REQUIRED>
<!ATTLIST event repeatable (true|false) #IMPLIED> 
<!ATTLIST event remember (true|false) #IMPLIED>
<!ATTLIST event triggerType (talk|step|act) #REQUIRED>
<!ATTLIST namedItemRef itemType (item|weapon|armor|rune|special|system)  #REQUIRED>
<!ATTLIST directionBlock north (true|false) #REQUIRED>
<!ATTLIST directionBlock south (true|false) #REQUIRED>
<!ATTLIST directionBlock east (true|false) #REQUIRED>
<!ATTLIST directionBlock west (true|false) #REQUIRED>
<!ATTLIST spriteRef type (still|twoway|fourway) #IMPLIED>
<!ATTLIST namedItem name CDATA #REQUIRED>
<!ATTLIST namedItem maxInventory CDATA #IMPLIED>
<!ATTLIST namedItem dropRarity (never|rare|uncommon|common) #REQUIRED>
<!ATTLIST regularItem value CDATA #REQUIRED>
<!ATTLIST regularItem sellValueMultiplier CDATA #IMPLIED>
<!ATTLIST regularItem reusable (true|false) #REQUIRED>
<!ATTLIST regularItem targetable (all|single|either|self-only) #REQUIRED>
<!ATTLIST regularItem use (battle|world|both) #REQUIRED>
<!ATTLIST regularItem defaultTarget (party|monsters) #IMPLIED>
<!ATTLIST uniqueArmor valueMultiplier CDATA #REQUIRED>
<!ATTLIST uniqueWeapon valueMultiplier CDATA #REQUIRED>
<!ATTLIST weaponClass name CDATA #REQUIRED>
<!ATTLIST weaponClass valueMultiplier CDATA #REQUIRED>
<!ATTLIST weaponClass valueAdd  CDATA #IMPLIED>
<!ATTLIST weaponType name CDATA #REQUIRED>
<!ATTLIST weaponType basePrice CDATA #REQUIRED>
<!ATTLIST weaponType baseAttack CDATA #REQUIRED> 
<!ATTLIST weaponType hitAdd CDATA #REQUIRED> <!-- In percent 0-1 float-->
<!ATTLIST weaponType baseCritical CDATA #IMPLIED> <!-- In percent. Default = "0.05" -->
<!ATTLIST weaponType ranged (true|false) #IMPLIED>
<!ATTLIST weaponType twoHanded (true|false) #IMPLIED>
<!ATTLIST armorClass name CDATA #REQUIRED>
<!ATTLIST armorClass valueMultiplier CDATA #REQUIRED>
<!ATTLIST armorClass valueAdd  CDATA #IMPLIED>
<!ATTLIST armorType name CDATA #REQUIRED>
<!ATTLIST armorType basePrice CDATA #REQUIRED>
<!ATTLIST armorType baseArmorClass CDATA #REQUIRED> 
<!ATTLIST armorType baseResist CDATA #REQUIRED>
<!ATTLIST armorType slot (head|body|shield|feet|hands) #REQUIRED>
<!ATTLIST attributeEnhancer attribute CDATA #REQUIRED>
<!ATTLIST attributeEnhancer add  CDATA #REQUIRED>
<!ATTLIST attributeEnhancer multiplier CDATA #IMPLIED>
<!ATTLIST runeType type (none|rune|ultraRune) #REQUIRED>
<!ATTLIST weaponEnhancer attribute CDATA #REQUIRED>
<!ATTLIST weaponEnhancer add CDATA #IMPLIED>
<!ATTLIST weaponEnhancer multiplier CDATA #IMPLIED>
<!ATTLIST armorEnhancer  attribute CDATA #REQUIRED>
<!ATTLIST armorEnhancer add CDATA #IMPLIED>
<!ATTLIST armorEnhancer multiplier CDATA #IMPLIED>
<!ATTLIST statusEffectModifier statusRef CDATA #REQUIRED>
<!-- For a weapon, this is a chance of inflicting the status from 0 to 1. -->
<!-- For armor it is the percentage chance of blocking the status referenced -->
<!ATTLIST statusEffectModifier modifier CDATA #REQUIRED>  
<!ATTLIST spellRef type (elemental|white|status|other) #REQUIRED>
<!ATTLIST animation name CDATA #REQUIRED>
<!ATTLIST animation type (battle|world) #REQUIRED>
<!ATTLIST par duration CDATA #REQUIRED>
<!ATTLIST par hide (none|caster|caster_group|target|target_group|all) #IMPLIED> <!-- Defaults to none --> 
<!ATTLIST animationSpriteRef initialFocus (screen|caster|target) #REQUIRED>
<!ATTLIST animationSpriteRef initialFocusType (center|above|below|left|right|below_right|below_left|above_right|above_left) #IMPLIED> <!-- Center is default -->
<!ATTLIST animationSpriteRef movementDirection (still|n|e|s|w|ne|nw|se|sw|toTarget|toCaster) #IMPLIED>
<!ATTLIST animationSpriteRef movementStyle (straight|arc_over|arc_under|sine) #IMPLIED> <!-- Defaults to straight -->
<!ATTLIST battleMenuOption name CDATA #REQUIRED>

<!-- Note: movement speed will be determined by the amount of pixels that need to be covered and the duration of the par -->
<!-- So that if the par duration is three seconds, the sprite will move to its destination in three seconds -->
<!ATTLIST spell name CDATA #REQUIRED>
<!ATTLIST spell type (elemental|white|status|other) #REQUIRED>
<!ATTLIST spell use (battle|world|both) #REQUIRED>
<!ATTLIST spell targetable (all|single|either|self-only) #REQUIRED>
<!ATTLIST spell appliesToWeapons (true|false) #IMPLIED> <!-- Used in generation of random weapons? Defaults to false -->
<!ATTLIST spell appliesToArmor   (true|false) #IMPLIED> <!-- Used in generation of random armor? Defaults to false -->
<!ATTLIST spell mp CDATA #REQUIRED>
<!ATTLIST spell value CDATA #REQUIRED>
<!ATTLIST weaponDamageCategory type (slash|bash|jab) #REQUIRED>
<!ATTLIST magicDamageCategory type (fire|water|earth|wind|holy|dark|other) #REQUIRED>
<!-- Note that, while removeStatus does obey the 'chance' parameter, it ignores any status effect resistances of the target. -->
<!-- Therefore, a removeStatus for poison with 80% really does remove poison 80% of the time. Whereas, when inflicting the status (con'td) -->
<!-- You have the chance as well as the target's resistances to account for -->
<!ATTLIST magicResistance resist CDATA #REQUIRED>
<!ATTLIST magicResistance type (fire|water|earth|wind|holy|dark|elemental|all) #REQUIRED>

<!ATTLIST statusEffect name CDATA #REQUIRED>
<!ATTLIST statusEffect last (battle|round_count|permanent) #REQUIRED>
<!ATTLIST statusEffect lengthMultiplier CDATA #IMPLIED>
<!ATTLIST statusEffect roundCount CDATA #IMPLIED> 

<!ATTLIST characterClass name CDATA #REQUIRED>
<!ATTLIST characterClass gender (male|female|either) #IMPLIED> <!-- Defaults to either -->
<!ATTLIST statScript stat CDATA #REQUIRED>
<!ATTLIST skill name CDATA #REQUIRED>
<!ATTLIST skill sp CDATA #REQUIRED> <!-- Skill points to earn skill -->
<!ATTLIST skill bp CDATA #REQUIRED> <!-- Percentage of 'Break' to use skill --> 
<!ATTLIST skill minLevel CDATA #IMPLIED> <!-- Default is 1 -->
<!ATTLIST skill type (battle|switch) #IMPLIED> <!-- Defaults to battle -->
<!ATTLIST prereqSkillRef skillName CDATA #REQUIRED>
<!ATTLIST skillRef skillName CDATA #REQUIRED>
<!ATTLIST skillRef overrideSp CDATA #IMPLIED> <!-- Defaults to skill's value -->
<!ATTLIST skillRef overrideBp CDATA #IMPLIED> <!-- Defaults to skill's value -->
<!ATTLIST skillRef overrideMinLevel CDATA #IMPLIED> <!-- Defaults to skill's value -->

<!ATTLIST character name CDATA #REQUIRED>
<!ATTLIST character class CDATA #REQUIRED>
<!ATTLIST character spriteResource CDATA #REQUIRED>

<!ATTLIST equipmentRef slot (right_hand|left_hand|head|body|shield|feet|right_ring|left_ring) #REQUIRED>

<!ATTLIST addCharacter name CDATA #REQUIRED>
<!ATTLIST addCharacter level CDATA #REQUIRED>
<!ATTLIST removeCharacter name CDATA #REQUIRED>
<!ATTLIST removeCharacter keepStuff (true|false) #IMPLIED> <!-- false -->

<!-- Which animation are you overriding? -->
<!ATTLIST animationDefinition animationRef CDATA #IMPLIED>

<!ATTLIST weaponTypeSprite spriteRef CDATA #REQUIRED>
